<h1>{{model.firstName}} {{model.lastName}}</h1>

<dl>
  <dt>Email</dt>
  <dd>{{model.email}}</dd>

  <dt>Title</dt>
  <dd>{{model.title}}</dd>
</dl>

<p>
  Updated at: {{formatted-date model.updatedAt 'MMMM Do, YYYY [at] h:mm a'}}
  <br>
  Created at: {{formatted-date model.createdAt 'MMMM Do, YYYY [at] h:mm a'}}
</p>
